<app-template></app-template>
<div id="main" class="container">
  <h3 class="page-header">Adicionar Cliente:</h3>
  <form (ngSubmit)="cadastrar()">
    <hr />
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="nome">Nome:</label>
        <input type="text" [(ngModel)]="cliente.nome" class="form-control" id="nome" name="nome">
      </div>

      <div class="form-group col-md-4">
        <label name="email">email:</label>
        <input type="text" [(ngModel)]="cliente.email" class="form-control" id="email" name="email">

        <!-- <input type="text" [(ngModel)]="cliente.email" class="form-control" id="email" name="email"> -->
      </div>
      
      <div class="form-group col-md-4">
        <label name="cep">CEP:</label>
        <input type="text" [(ngModel)]="cliente.cep"class="form-control" id="cep" name="cep">
      </div>
      
      <div class="form-group col-md-4 ">
        <label name="celular">Celular:</label>
        <input type="text" [(ngModel)]="cliente.celular" class="form-control" name="celular" id="celular">
      </div>

      <div class="form-group col-md-4 ">
        <label name="telefone">Telefone:</label>
        <input type="text" [(ngModel)]="cliente.telefone" class="form-control" name="telefone" id="telefone">
      </div>
    </div>
    
    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/lista-cliente" class="btn btn-default">Cancelar</a>
      </div> 
    </div>
  </form>
</div>