<!-- <app-template></app-template> -->
<!-- <app-home></app-home> -->
<div id="main" class="container">
  <h3 class="page-header">Adicionar Produto:</h3>
  <form (ngSubmit)="cadastrar()">
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="nome">Nome:</label>
        <input type="text" [(ngModel)]="produto.nome" class="form-control" id="nome" name="nome">
      </div>

      <div class="form-group col-md-4">
        <label name="custo">Custo:</label>
        <input type="number" [(ngModel)]="produto.custo" class="form-control" id="custo" name="custo">
      </div>

      <div class="form-group col-md-4 ">
        <label name="quantidade">Quantidade:</label>
        <input type="number" [(ngModel)]="produto.quantidade" class="form-control" name="quantidade" id="quantidade">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label name="venda">Venda:</label>
        <input type="number" [(ngModel)]="produto.venda" class="form-control" id="venda" name="venda">
      </div>

      <div class="form-group col-md-4">
        <label for="comboCategorias">Categoria</label>
        <select class="form-control" id="comboCategorias" (change)="selecionar($event)">
          <option *ngFor="let item of categorias" value="{{item.id}}" [selected]="item.id == produto.categoria">{{item.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label name="descricao">Descricao:</label>
        <textarea type="text" [(ngModel)]="produto.descricao" class="form-control" id="descricao" name="descricao">
        </textarea>
      </div>
    </div>

    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/admin/lista-produto" class="btn btn-default">Voltar</a>
      </div>
    </div>
  </form>
</div>