<!-- <app-template></app-template> -->
<!-- <app-home></app-home> -->

<div id="main" class="container">
  <h3 class="page-header">Adicionar Produto:</h3>
  <form (ngSubmit)="cadastrar()">
    <!-- area de campos do form -->

    <div class="row">

      <div class="form-group col-md-4">
        <label name="nome">Nome:</label>
        <input type="text" [(ngModel)]="produto.nome" class="form-control" id="nome" name="nome">
      </div>

      <div class="form-group col-md-3">
        <label name="marca">Marca:</label>
        <input type="text" [(ngModel)]="produto.marca" class="form-control" id="marca" name="marca">
      </div>

      <div class="form-group col-md-3">
        <label name="modelo">Modelo:</label>
        <input type="text" [(ngModel)]="produto.modelo" class="form-control" id="modelo" name="modelo">
      </div>

      <div class="form-group col-md-2">
        <label name="material">Quantidade:</label>
        <input type="number" [(ngModel)]="produto.quantidade" class="form-control" id="quantidade" name="quantidade">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2">
        <label name="custo">Custo:</label>
        <input type="number" [(ngModel)]="produto.custo" class="form-control" id="custo" name="custo">
      </div>

      <div class="form-group col-md-2">
        <label name="venda">Venda:</label>
        <input type="number" [(ngModel)]="produto.venda" class="form-control" id="venda" name="venda">
      </div>


      <div class="form-group col-md-4">
        <label for="comboCategorias">Imagem</label>
        <input type="text" [(ngModel)]="linkImagem" class="form-control" id="imagem" name="imagem">
      </div>


      <div class="form-group col-md-4">
        <label for="comboCategorias">Categoria</label>
        <select class="form-control" id="comboCategorias" (change)="selecionar($event)">
          <option *ngFor="let item of categorias" value="{{item.id}}" [selected]="item.id == produto.categoria">{{item.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label name="descricao">Descricao:</label>
        <textarea type="text" [(ngModel)]="produto.descricao" class="form-control" id="descricao" name="descricao">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Tamanho</th>
                <th>Cor</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exemplar of produto.exemplarprodutos; let i = index;">
                <td class="form-group col-md-4">
                  <select class="form-control" id="comboCategorias" (change)="selecionarTamanho($event, exemplar)">
                    <option *ngFor="let item of tamanhos" [selected]="item.id == exemplar.tamanhoId" value="{{item.id}}">{{item.nome}}</option>
                  </select>
                </td>
                <td>
                  <input type="text" [(ngModel)]="exemplar.cor" class="form-control" name="corExemplar-{{i}}">
                </td>
                <td>
                  <input type="number" [(ngModel)]="exemplar.quantidade" class="form-control" name="quantidadeExemplar-{{i}}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group col-md-2">
        <a (click)="adicionarExemplar()" style="cursor: pointer;">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>

    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/admin/lista-produto" class="btn btn-default">Voltar</a>
      </div>
    </div>
  </form>
</div>