.navbar-default {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-brand {
  color: #ff96e2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ff96e2;
}
.navbar-default .navbar-text {
  color: #ff96e2;
}
.navbar-default .navbar-nav > li > a {
  color: #FF5FAF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff96e2;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  margin: 10px 0px;
  color: #FF5FAF;
  text-align: right;
  border: 1px #fff;
  border-radius: 1px;
  background-color: #FFF;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,.175);
  padding: 0 0 22px 0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #FF5FAF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #FFF;
    background-color: #FF5FAF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #ff62b0;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ff96e2;
  background-color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff96e2;
  background-color: #ff62b0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ff96e2;
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #ff62b0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff62b0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffa6e2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffa6e2;
    width: 100%;
}
.navbar-form input{
    border-color: #ffa6e2;
    background-color: red;
}
.input-group {
    margin: 5px 30px;
}
.input-group span button{
    top: auto;
    bottom: auto;
}


.navbar-default .navbar-link {
  color: #ffa6e2;
}
.navbar-default .navbar-link:hover {
  color: #ff96e2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffa6e2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ff96e2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff96e2;
    background-color: #fff;
  }
}

.produto{
  text-align: center;
}
.produto p{
  font-size: 10px;
}
.produto a{
  font-size: 22px;
  color: #000;
}

span.gold-star{
  font-size: 12px;
  color: #fdb602;
}

footer{
  text-align: center;
}

.img-center{
  margin-left: auto;
  margin-right: auto
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
