<!-- <app-template></app-template> -->
<!-- <app-home></app-home> -->

<div id="main" class="container">
  <h3 class="page-header">Adicionar Cliente:</h3>
  <form (ngSubmit)="cadastrar()">
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="nome">Nome:</label>
        <input type="text" [(ngModel)]="cliente.nome" class="form-control" id="nome" name="nome">
      </div>
      
      <div class="form-group col-md-4">
        <label name="sobrenmome">Sobrenome:</label>
        <input type="text" [(ngModel)]="cliente.sobrenome" class="form-control" id="sobrenome" name="sobrenome">
      </div>
      
      <div class="form-group col-md-4">
        <label name="email">Email:</label>
        <input type="text" [(ngModel)]="cliente.email" class="form-control" id="email" name="email">

        <!-- <input type="text" [(ngModel)]="cliente.email" class="form-control" id="email" name="email"> -->
      </div>
      
      <div class="form-group col-md-4">
        <label name="senha">Senha:</label>
        <input type="password" [(ngModel)]="cliente.senha" class="form-control" id="senha" name="senha">
      </div>
      
    </div>
    
    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/admin/lista-cliente" class="btn btn-default">Voltar</a>
      </div> 
    </div>
  </form>
</div>