<!-- <app-template></app-template> -->
<!-- <app-home></app-home> -->
<div id="main" class="container">
  <h3 class="page-header">Adicionar Fornecedor:</h3>
  <form (ngSubmit)="cadastrar()">
    <hr />
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="razao_social">Razão Social:</label>
        <input type="text" [(ngModel)]="fornecedor.razaoSocial" class="form-control" id="razao_social" name="razao_social">
      </div>
      
      <div class="form-group col-md-4">
        <label name="cnpj">CNPJ:</label>
        <input type="text" [(ngModel)]="fornecedor.cnpj" class="form-control" id="cnpj" name="cnpj">
      </div>

      <div class="form-group col-md-4">
        <label name="email">Email:</label>
        <input type="text" [(ngModel)]="fornecedor.email" class="form-control" id="email" name="email">

        <!-- <input type="text" [(ngModel)]="fornecedor.email" class="form-control" id="email" name="email"> -->
      </div>
      
      <div class="form-group col-md-4 ">
        <label name="telefone">Telefone:</label>
        <input type="text" [(ngModel)]="fornecedor.telefone" class="form-control" name="telefone" id="telefone">
      </div>
    </div>
    
    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/admin/lista-fornecedor" class="btn btn-default">Voltar</a>
      </div> 
    </div>
  </form>
</div>