@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffa6e2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ff96e2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ff96e2;
      background-color: #ff62b0;
    }
  }
  
  .produto{
    text-align: center;
  }
  .produto p{
    font-size: 10px;
  }
  .produto a{
    font-size: 22px;
    color: #000;
  }
  
  span.gold-star{
    font-size: 12px;
    color: #fdb602;
  }
  
  footer{
    text-align: center;
  }
  
  .img-center{
    margin-left: auto;
    margin-right: auto
  }