<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" routerLink="">Cantinho das Meninas</a>
    
    <div class="navbar-form navbar-left">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
        <span class="badge">4</span>
      </button>
    </div>
    
    <!--div class="navbar-form navbar-left">
      <input type="checkbox" id="check">
      <label id="icone" for="check"><span class="glyphicon glyphicon-list"></span></label>
    </div>
    
    <div class="barra">
      <nav>
        <a href=""><div class="link">Home</div></a>
        <a href=""><div class="link">Tutoriais</div></a>
        <a href=""><div class="link">besteira</div></a>
        <a href=""><div class="link">teste</div></a>
        
      </nav>
    </div-->
    
    
    
    <div class="navbar-form navbar-left">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;
        <span class="badge">3</span>
      </button>
    </div>
    
    
    <div class="navbar-form navbar-right">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>
    
    <div class="navbar-text navbar-right">
      <p><a href="#" class="navbar-link">Minha Loja</a></p>
    </div>
  </div>
</nav>




      