<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cantinho das Meninas</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categorias
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Pijamas</a></li>
          <li><a href="#">Conjntos</a></li>
          <li><a href="#">Linha Noite</a></li>
        </ul>
      </li>
        <li><a href="#">Promoções</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Meu carrinho</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
       <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Nome:<b>Adalberto Pedrosa Sinvastatina</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p><b>CPF:</b> 123.456.789-90</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>Telefone:</b> 999115229</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <P><b>Endereço:</b> Maria de Lourdes garcia, Ilha de Monte Belo, Vitoria-ES - 29051250</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel-heading"><b>Subtotal:</b> R$ {{subtotal}} </div>
            <hr />
            <div class="panel-body">
                <p>Entrega: R$ 13,90</p>
                <hr />
                <div class="row">
                    <label for="cupomDesconto">Cupom de Desconto:</label>
                </div>
                <div class="row">
                    <input type="text" id="cupomDesconto" name="cupomDesconto">
                    <button type="button" class="btn btn-info">Adicionar</button>
                </div>
            </div>
            <div class="panel-footer">
                <p>Total:</p>
            </div>
        </div>
    </div>
    <div class="row" *ngFor="let produto of listaFiltrada">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"> Nome: <b>{{produto.nome}}</b></div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <a href="./assets/imagens/carrosel-1.jpg">
                                <img src="./assets/imagens/carrosel-1.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="100">
                                <div class="caption">
                                    <p><b>Cor:</b>Cinza</p>
                                    <p><b>Tamanho:</b> P</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p><b> R$: {{produto.venda}}</b></p>
                    </div>
                    <div class="col-sm-4">
                        <input class="input-sm" type="number" id="quantidade" name="quantidade" [(ngModel)] = "produto.quantidade" (change)="calculaSubtotal()">
                    </div>
                    <div class="col-sm-2">
                        <p><b> R$: {{produto.venda*produto.quantidade}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>