<app-template></app-template>
<div id="main" class="container-fluid">
  <h3 class="page-header">Adicionar Item:</h3>
  <form action="index.html">
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="descricao">Descricao:</label>
        <input type="text" 
        [value]="descricao"
        (input)="descricao = $event.target.value" class="form-control" id="descricao">
      </div>
      
      <div class="form-group col-md-4">
        <label name="venda">Venda:</label>
        <input type="text" 
        [value]="venda"
        (input)="venda = $event.target.value" class="form-control" id="venda">
      </div>
      
      <div class="form-group col-md-4 ">
        <label name="custo">Custo:</label>
        <input type="text" 
        [value]="custo"
        (input)="custo = $event.target.value" class="form-control" id="custo">
      </div>

      <div class="form-group col-md-4 ">
        <label name="categoria">Categoria:</label>
        <input type="text" 
        [value]="categoria"
        (input)="categoria = $event.target.value" class="form-control" id="categoria">
      </div>

      <div class="form-group col-md-4">
        <label>Inserir imagem:</label>
        <input type="text" (keyup.enter) = "addImagem($event.target.value)" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <ul>
          <li *ngFor="let imagem of imagems, let i = index">
            {{imagem}}
          </li>
        </ul>
      </div> 
     </div>
    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="" class="btn btn-default">Cancelar</a>
      </div>
    </div>
  </form>
</div>