<app-template></app-template>
<div id="main" class="container">
  <h3 class="page-header">Adicionar Item:</h3>
  <form (ngSubmit)="cadastrar()">
    <!-- area de campos do form -->
    <div class="row">
      <div class="form-group col-md-4">
        <label name="nome">Nome:</label>
        <input type="text" [(ngModel)]="produto.nome" class="form-control" id="nome" name="nome">
      </div>

      <div class="form-group col-md-4">
        <label name="descricao">Descricao:</label>
        <textarea type="text" [(ngModel)]="produto.descricao" class="form-control" id="descricao" name="descricao">

        </textarea>
        <!-- <input type="text" [(ngModel)]="produto.descricao" class="form-control" id="descricao" name="descricao"> -->
      </div>
      
      <div class="form-group col-md-4">
        <label name="custo">Custo:</label>
        <input type="number" [(ngModel)]="produto.custo"class="form-control" id="custo" name="custo">
      </div>
      
      <div class="form-group col-md-4 ">
        <label name="quantidade">Quantidade:</label>
        <input type="number" [(ngModel)]="produto.quantidade" class="form-control" name="quantidade" id="quantidade">
      </div>
    </div>

    <div class="form-group">
      <label for="comboCategorias">Example select</label>
      <select class="form-control" id="comboCategorias">
        <option *ngFor="let item of categorias" value="item.id">{{item.nome}}</option>
      </select>
    </div>
    <hr />
    <div id="actions" class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a routerLink="/lista-produto" class="btn btn-default">Cancelar</a>
      </div> 
    </div>
  </form>
</div>